.question-container {
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.accordion-body p {
    font-size: 20px;
}

@media screen and (max-width: 1199px) {
    .question-container {
        padding-left: 20px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 992px) {
    .question-container {
        width: 63%;
    }
}

@media screen and (max-width: 768px) {
    .question-container {
        width: 100%;
        padding-right: 20px;
        text-align: center;
        margin-top: 46px;
        margin-bottom: 45px;
    }
}